.category-list{
    margin-top: 20px
}

.category-name{
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

/*.category-content{*/
/*    padding: 12px;*/
/*}*/

.rotated{
    transform: rotate(-180deg);
}

.tick-element{
    border: var(--row-border);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 5px;
    margin: auto;
    transition: 0.15s linear;
}