h1{
    height: 30px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 108%;
}

:root {
    --row-border: 1px solid #DFE4EF;
    --main-font: Fira Sans;
}

.wrapper {
    margin: 50px;
}

li{
    list-style-type: none;
}

ul{
    padding-inline-start: 0;
}

.row{
    border: var(--row-border);
    border-top: none;
    display: flex;
    justify-content: space-between;
    background-color: white;
    opacity: 1;
}

.dragged-row{
    position: absolute;
    box-shadow: 0px 3px 16px rgba(0, 102, 255, 0.7);
    border: var(--row-border);

    /*clone.style.border= "1px solid #DFE4EF"*/
}

.row-data-block{
    padding: 12px;
}

.comment {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #8E9CBB;
}

.first-row {
    border-top: var(--row-border);
}

.over{
    border-top: 2px solid red;
}

.control-button {
    height: 14px;
    margin: auto;
    line-height: 12px;
}

.pointer{
    cursor: pointer;
}