:root {
    --row-border: 1px solid #DFE4EF;
    --main-font: Fira Sans;
    --over-border: 5px solid #0066FF;
}

body {
    background-color: white;
    font-family: Fira Sans;
}


h1{
    height: 30px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 108%;
}


.wrapper {
    /*margin: 50px;*/
    margin: 2%;
}

li{
    list-style-type: none;
}

ul{
    padding-inline-start: 0;
}

.row{
    border: var(--row-border);
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.row-content{
    display: flex;
    gap: 14px;
    margin-right: 14px;
}

.dragged-row{
    position: absolute;
    box-shadow: 0px 3px 16px rgba(0, 102, 255, 0.7);
    border: var(--row-border);
    /*background-color: white;*/

    /*clone.style.border= "1px solid #DFE4EF"*/
}

.data-block{
    padding: 12px;
}

.comment {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #8E9CBB;
}

.first-row {
    border-top: var(--row-border);
}

.over-down {
    border-bottom: var(--over-border);
}
.over-up{
    border-top: var(--over-border);
}


.controls-block{
    display: flex;
    gap: 2px;
    margin-right: 6px;
}

.control-button {
    height: 14px;
    margin: auto;
    line-height: 12px;
    padding: 8px;
}

.pointer{
    cursor: pointer;
}