.document-ul{
    padding-inline-start: 16px;
}

.document{
    min-height: 35px;
}

.document-name{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 108%;
}

.document-required{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 108%;
    margin: auto;
    color: #FF238D;
}
