.document-ul{
    padding-inline-start: 16px;
}

.document{
    height: 35px;
}

.document-content{
    display: flex;
    gap: 14px;
    margin-right: 14px;
}
.document-name{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 108%;
}

.document-required{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 108%;
    /* identical to box height, or 12px */


    color: #FF238D;
}
